/* line 3, ../sass/hovermenu.scss */
.hoverMenu ul {
  list-style: none;
  padding: 0;
}
/* line 9, ../sass/hovermenu.scss */
.hoverMenu > ul > li {
  display: inline;
  position: relative;
}
/* line 15, ../sass/hovermenu.scss */
.hoverMenu ul li ul {
  display: none;
  position: absolute;
  z-index: 99;
  width: 250px;
  background-color: white;
  border: 1px solid #ccc;
  left: 0;
  top: 27px;
}
/* line 24, ../sass/hovermenu.scss */
.hoverMenu ul li ul.revealed {
  display: block;
}
/* line 27, ../sass/hovermenu.scss */
.hoverMenu ul li ul a {
  display: block;
  padding: 0.5em 0.5em 0.3em 0.5em;
}
/* line 31, ../sass/hovermenu.scss */
.hoverMenu ul li ul li {
  display: block;
}
/* line 33, ../sass/hovermenu.scss */
.hoverMenu ul li ul li:hover {
  background-color: black;
}
/* line 35, ../sass/hovermenu.scss */
.hoverMenu ul li ul li:hover a {
  color: #fff;
}
