/* line 1, ../sass/sample.scss */
body {
  background-color: #f9f9f9;
  margin-bottom: 200px;
  font-family: Georgia;
  font-size: 16px;
  line-height: 1.4em;
}

/* line 8, ../sass/sample.scss */
#container {
  width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
  border: 1px solid #ccc;
}
/* line 14, ../sass/sample.scss */
#container header h1 {
  margin-top: 5px;
}

/* line 18, ../sass/sample.scss */
footer {
  border-top: 1px solid #ccc;
  margin-top: 100px;
  font-size: 0.8em;
  font-family: verdana;
}

/* line 24, ../sass/sample.scss */
h2 {
  margin-top: 2em;
  font-size: 1.2em;
}
