body {
  background-color: #f9f9f9;
  margin-bottom: 200px;
  font-family: Georgia;
  font-size: 16px;
  line-height: 1.4em;
}
#container {
  width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
  border: 1px solid #ccc;
  header h1 {
    margin-top: 5px;
  }
}
nav#main {
  margin-bottom: 100px;
}
footer {
  border-top: 1px solid #ccc;
  font-size: 0.8em;
  font-family: verdana;
}
ul.options {
  font-size: 0.8em;
  code {
    padding-right: 2px;
  }
}
h2 {
  margin-top: 2em;
  font-size: 1.2em;
}
